@use "@styles/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.hoverText {
    position: relative;
    display: inline-block;
    font-family: $secondFamily;
    font-weight: 900;
    font-size: 140px;
    color: transparent;
    -webkit-text-stroke: 2px #dad9da;
    overflow: hidden;
    margin-left: 170px;
    user-select: none;

    --x: -9999px;
    --y: -9999px;

    &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        color: $yellow;
        -webkit-text-stroke: 2px $yellow;
        background: none;
        background-clip: text;
        -webkit-background-clip: text;
        pointer-events: none;
        mask-image: radial-gradient(circle 100px at var(--x) var(--y), black 100%, transparent 100%);
        mask-repeat: no-repeat;
    }
}

.hoverText:last-of-type {
    margin-left: -100px;
}

.footerText {
    font-weight: 400;
    font-size: 52px;
    color: $white;
    margin: 0;
    -webkit-text-stroke: 0 transparent;

    &::before {
        -webkit-text-stroke: 0px $yellow;
        mask-image: radial-gradient(circle 50px at var(--x) var(--y), black 100%, transparent 100%);
    }

    a {
        @include a($white, $secondFamily, 52px, 400, $white )
    }
}

.footerText:last-of-type {
    margin: 0;
}