@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

article {
    display: flex;
    flex-direction: column;
    gap: 55px;

    .section {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
            @include h($white, $secondFamily, 42px, 700);
            text-transform: uppercase;
        }

        p {
            @include h($textColor, $firstFamily, 20px, 500);
        }


    }
}