@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.footerContainer {
    position: relative;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 20px;

    >img {
        position: absolute;
        z-index: -1;
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footerPolicy {
        display: flex;
        gap: 150px;

        span {
            @include h(#3f3f3f, $firstFamily, 15px, 500)
        }

        a {
            @include a(#3f3f3f, $firstFamily, 15px, 500, $yellow);
            transition: color .3s;
        }
    }
}

.footerContainer.menu {
    margin-top: 0px;

    a {
        text-decoration: none;
    }

    .itemContainer {
        display: flex;
        width: 100%;
        max-width: 610px;
        flex-wrap: wrap;
        gap: 13px;

        span {
            @include a($white, $firstFamily, 18px, 500, $yellow);
        }
    }
}