@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

aside {
    position: sticky;
    top: 100px;
    left: 0;
    width: 330px;
    align-self: flex-start;

    nav {
        display: flex;
        flex-direction: column;

        a {
            @include a($white, $secondFamily, 24px, 700, $yellow);
        }
    }


}