@use "@styles/variables.scss";

@mixin commonTextStyles($color, $family, $fontSize, $fontWeight) {
    color: $color;
    font-family: $family;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin a($color, $family, $fontSize, $fontWeight, $hoverColor) {
    @include commonTextStyles($color, $family, $fontSize, $fontWeight);
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    width: fit-content;

    &:hover {
        text-decoration: none;
        color: $hoverColor;
    }
}

@mixin h($color, $family, $fontSize, $fontWeight) {
    @include commonTextStyles($color, $family, $fontSize, $fontWeight);
}

@mixin hoverButton($color, $family, $fontSize, $fontWeight) {
    @include commonTextStyles($color, $family, $fontSize, $fontWeight);
}

@mixin hoverButtonY($color, $family, $fontSize, $fontWeight, $hoverColor) {
    @include a($color, $family, $fontSize, $fontWeight, $hoverColor);
    width: 100%;
    max-width: 170px;
    height: 65px;
    border: 1px solid #fddd0a;
    background: linear-gradient(90deg, #fddd0a 0%, #fddd0a 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .4s ease, color .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}