@import url('@fonts/Gilroy/stylesheet.css');
@import url('@fonts/RoadRadio/stylesheet.css');


// colors
$yellow : #fddd0a;
$white: #fff;
$black: #212121;
$textColor: #b6b6b6;
// fonts
$firstFamily: "Gilroy", sans-serif;
$secondFamily: "RoadRadio", sans-serif;
$thirdFamily: "Roboto", sans-serif;
$familyFourth: "Montserrat", sans-serif;
$familyFiveth: "Exo", sans-serif;