@use "@styles/variables.scss" as *;

.yellowText {
    font-family: $secondFamily;
    color: $yellow;
    font-size: 24px;
    text-transform: uppercase;
}

.hoverText:last-of-type {
    margin-left: -100px;
}

.whiteText {
    font-family: $secondFamily;
    font-weight: 900;
    font-size: 140px;
    color: $white;
}

.whiteText:nth-of-type(3) {
    margin-left: 170px;
}


// .hoverText {
//     font-family: $secondFamily;
//     font-size: 140px;
//     font-weight: bold;
//     text-transform: uppercase;
//     
//     color: transparent;
//     -webkit-text-stroke: 2px #dad9da;


// }